Source: hdbc-sqlite3
Priority: extra
Section: haskell
Uploaders: John Goerzen <jgoerzen@complete.org>
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Build-Depends:
 debhelper (>= 7),
 ghc6 (>= 6.12),
 haskell-devscripts (>= 0.7.3),
 cdbs,
 cpphs,
 ghc6-doc,
 haddock,
 hscolour,
 libsqlite3-dev (>= 3.3),
 libghc6-hdbc-dev (>= 2.2.0),
 libghc6-mtl-dev,
 haskell-hdbc-doc
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-haskell/hdbc-sqlite3.git
Vcs-Browser: http://git.debian.org/?p=pkg-haskell/hdbc-sqlite3.git;a=summary

Package: libghc6-hdbc-sqlite3-dev
Architecture: any
Depends: ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}, libsqlite3-dev (>= 3.3)
Suggests: ${haskell:Suggests}
Description: Sqlite v3 HDBC (Haskell Database Connectivity) Driver for GHC
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
 .
 This package provides the Sqlite v3 database driver for HDBC under GHC.

#Package: libhugs-hdbc-sqlite3
#Section: libs
#Architecture: any
#Depends: libhugs-hdbc (>= 1.1.6), ${haskell:Depends}, ${shlibs:Depends}, ${misc:Depends}
#Description: Sqlite v3 HDBC (Haskell Database Connectivity) Driver for Hugs
# HDBC provides an abstraction layer between Haskell programs and SQL
# relational databases. This lets you write database code once, in
# Haskell, and have it work with any number of backend SQL databases
# (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)
# .
# This package provides the Sqlite v3 database driver for HDBC under Hugs.
#
Package: libghc6-hdbc-sqlite3-doc
Replaces: haskell-hdbc-sqlite3-doc
Conflicts: haskell-hdbc-sqlite3-doc
Provides: haskell-hdbc-sqlite3-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}, ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Sqlite v3 HDBC (Haskell Database Connectivity) Documentation
 HDBC provides an abstraction layer between Haskell programs and SQL
 relational databases. This lets you write database code once, in
 Haskell, and have it work with any number of backend SQL databases
 (MySQL, Oracle, PostgreSQL, ODBC-compliant databases, etc.)

